.error-page {
    min-height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 40px 20px;

    text-align: center;
}

.error-content {
    max-width: 650px;
}

.error-code {
    font-size: 120px;
    line-height: 1;

    font-weight: 700;

    color: #3b82f6;

    margin-bottom: 20px;
}

.error-content h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.error-content p {
    color: #9ca3af;
    line-height: 1.9;

    margin-bottom: 30px;
}

.error-button {
    display: inline-block;

    padding: 12px 24px;

    border-radius: 10px;

    background: #3b82f6;
    color: white;

    text-decoration: none;

    font-weight: 700;

    transition: 0.3s;
}

.error-button:hover {
    background: #2563eb;
}